body{
    background:url('./tof.jpg') no-repeat ;
    background-size: cover;   
    background-attachment: fixed;
    background-position: center center;
    
    
}

.container{
    width: 310px;
    margin: auto;
    background-color: rgb(0,0,0,0.8);
    text-align: center;
    border-radius: 12px;
    height: 340px;
    /* line-height: 0; */
    padding: 0 15px;
    transform: translateY(50%);
}
h2{
    color: white;
    text-align: center;
    padding: 12px;
    background-color: black;
    width: 100%;
    transform: translate(-12px, 0px);
    border-radius: 12px 12px 0px 0px;
}
.bord {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    padding: 20px;
    background-color: transparent;
    color: white;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px rgb(247, 129, 60) solid;
    /* border-style: none; */
}

.btn
{
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    margin: 40px 10px 0 10px;
    width: 40%;
    height: 40px;
    color: black;
    padding: 5px;
} 
.save {
    color: rgb(190, 190, 190);
    position: absolute;
    top: 287px;
    left: 123px;
}


